<div class="bg-gray-200 h-[100vh]">
  <div class="pt-8">
    <app-todo-form [modalOpen]="isModalOpen" (closeModalEvent)="closeModal()" (createTodoEvent)="createTodo()"></app-todo-form>

    <div class="container mx-auto px-4 ">
      <div class="w-full lg:w-3/4 xl:w-2/3 mx-auto">
        <div class="flex justify-end gap-2">
          <button *ngIf="status === '' " class="bg-blue-400 rounded-md shadow-md p-2 mb-4 lg:mb-2 " (click)="getAllTodoList('Done')"> Completed Task </button>
          <button *ngIf="status !== '' " class="bg-blue-400 rounded-md shadow-md p-2 mb-4 lg:mb-2 " (click)="getAllTodoList('')"> In-Completed Task </button>
          <button class="bg-blue-400 rounded-md shadow-md p-2 mb-4 lg:mb-2 " (click)="openModal()"> Add todo </button>
        </div>
      
        
          <div  *ngIf="todoList.length> 0" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 border border-black p-4 bg-gray-50 shadow-xl rounded-xl">
            <div *ngFor="let todo of todoList" class="bg-white shadow-md rounded-md p-4 relative">
              <h3 class="text-lg font-semibold mb-2">{{ todo.task }}</h3>
              <p class="text-gray-600 mb-2">Due Date: {{ todo.due_date | date: 'dd-MM-yyyy' }}</p>
              <div class="flex items-center mb-2">
                <span [ngClass]="todo.priority ? 'bg-red-500' : 'bg-yellow-500'" class="text-white py-1 px-2 rounded-full text-xs mr-2">{{ todo.priority ? 'High' : 'Low' }}</span>
                <p class="text-gray-600">{{ todo.status }}</p>
              </div>
              <div class="flex justify-between gap-4 absolute top-0 right-0 mx-1">
                <i (click)="editTodo(todo.todo_id)" class="fas fa-edit text-blue-400 text-lg"></i> 
              
              </div>
              <div class="flex justify-between gap-4 absolute bottom-0 right-0 mb-1 mx-1">
                <i (click)="deleteTodo(todo.todo_id)" class="fas fa-trash-alt text-red-500 text-lg"></i> 
              </div>
             
            </div>
          </div>
          <div *ngIf="!todoList.length">
            <h4> No {{status === 'Done'? 'Completed': 'Pending'}} Task </h4>
          </div>
          
        
        
      </div>
    </div>
  </div>
 
</div>
